.video-upload-container {
  width: 100%;
  margin: auto;
  padding: 20px 120px;
  background-color: #19b8ee;
  font-family: 'Roboto';
}

.video-upload-container h2 {
  text-align: center;
}

.video-upload-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.video-upload-form div {
  margin-bottom: 15px;
}

.video-upload-form label {
  font-weight: bold;
  font-size: 14px;
}

.video-upload-form input {
  padding: 8px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

.video-upload-form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.video-upload-form button:hover {
  background-color: #45a049;
}

.video-upload-list {
  list-style-type: none;
  padding: 0;
}

.video-upload-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.video-upload-item h3 {
  margin: 0;
}

.video-upload-item p {
  margin: 5px 0;
}

.video-upload-item button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.video-upload-item button:hover {
  background-color: #d32f2f;
}

.video-upload-item img {
  border-radius: 5px;
}

.upload-card-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-input-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  width: 250px;
}

.upload-input-item {
  background-color: white;
  color: black;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
}
