.admin-dashboard-container {
  width: 100%;
  margin: auto;
  padding: 20px 120px;
  background-color: #19b8ee;
  font-family: 'Roboto';
  min-height: 100vh;
}

.admin-dashboard-header {
  text-align: center;
  color: #1d3557;
  margin-bottom: 30px;
}

.admin-dashboard-table-container {
  margin-bottom: 40px;
}

.table-container {
  margin-top: 20px;
}

.admin-dashboard-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.admin-dashboard-table thead {
  background-color: #f3eee6;
  color: #fff;
}

.admin-dashboard-table th,
.admin-dashboard-table td {
  padding: 15px;
  text-align: left;
  font-size: 1rem;
  color: #333;
}

.admin-dashboard-table th {
  font-weight: bold;
  text-transform: uppercase;
}

.admin-dashboard-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.admin-dashboard-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.admin-dashboard-table tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.2s ease-in-out;
}

.admin-dashboard-table button {
  padding: 8px 16px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #e63946;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-dashboard-table button:hover {
  background-color: #d62828;
}

.admin-dashboard-table button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.table-container h2 {
  font-size: 1.8rem;
  color: #2a9d8f;
  margin-bottom: 15px;
  text-align: left;
}

.admin-upload-input-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  width: 250px;
}

.admin-upload-input-item {
  background-color: white;
  color: black;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .admin-dashboard-container {
    padding: 15px;
  }

  .admin-dashboard-header {
    font-size: 2rem;
  }

  .admin-dashboard-table th,
  .admin-dashboard-table td {
    font-size: 0.9rem;
    padding: 10px;
  }

  .admin-dashboard-table button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
