.blurred-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(147, 199, 241, 0.7);
  backdrop-filter: blur(10px);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}

.event-form-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: linear-gradient(45deg, #222, #111);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  text-align: center;
  color: #fff;
  border: 2px solid #0b69ff;
}

.event-form-container h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #0b69ff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.event-form-container input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  border: 2px solid #444;
  border-radius: 8px;
  background-color: #222;
  color: white;
  transition: all 0.3s ease-in-out;
}

.event-form-container input:focus {
  border-color: #0b69ff;
  outline: none;
  background-color: #333;
}

.event-form-container button {
  padding: 15px 25px;
  background: linear-gradient(45deg, #0b69ff, #0056b3);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition:
    background 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.event-form-container button:hover {
  background: linear-gradient(45deg, #0056b3, #0b69ff);
  transform: scale(1.05); /* Slight grow on hover */
}

.event-form-container button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.error-message {
  color: #ff4747;
  font-size: 16px;
  margin-top: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(35, 15, 15, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #300756;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

.modal-content h2 {
  font-size: 24px;
  color: #ff0b13;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.modal-content p {
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
}

.modal-content button {
  background-color: #0b69ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.modal-close-button {
  background-color: #ff4747;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-close-button:hover {
  background-color: #d73838;
}
