.order-page-main-container {
  width: 100%;
  background-color: rgb(50, 54, 57);
  backdrop-filter: blur(5px);
  padding-bottom: 30px;
}
.order-page-container {
  width: 600px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #9090ec;
}

.order-page-container h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.order-page-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical; 
}

.cart-items-list {
  margin-top: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.cart-item img {
  width: 70px;
  height: auto;
  margin-right: 15px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.cart-item-details p {
  font-size: 1rem;
  color: #555;
}

.total-amount {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}

.submit-button {
  display: block;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  width: 100%;
}

.submit-button:hover {
  background-color: #218838;
}

.order-status {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #a83a15;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.close-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.close-button:hover {
  opacity: 0.9;
}
