.game-download-container {
  padding: 20px 80px;
  width: 100%;
  margin: auto;
  background-color: #141414f2;
  min-height: 100vh;
}

.game-download-container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #00d4ff;
  text-shadow: 0 0 10px rgba(0, 212, 255, 0.8);
  margin-bottom: 30px;
}

.game-download-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.game-download-search-input-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  width: 250px;
}

.game-download-search-input {
  background-color: white;
  color: black;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
}

.game-download-search-icon {
  color: black;
  width: 20px;
  height: 20px;
}

/* Events container */
.game-downloads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Event cards */
.game-download-card {
  background: linear-gradient(145deg, #1b1b1b, #141414);
  border-radius: 12px;
  padding: 20px;
  width: 320px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

/* Neon hover effect */
.game-download:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.4);
}

.game-download-logo-img {
  width: 280px;
  height: 200px;
}

.game-download-card h2 {
  font-size: 1.6rem;
  color: #ff007f;
  text-shadow: 0 0 8px rgba(255, 0, 127, 0.8);
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.game-download-card h2:hover {
  color: #ff4da6;
}

.event-card p {
  font-size: 1rem;
  color: #b0b0b0;
  margin: 5px 0;
}

.game-download-card button {
  background: #00d4ff;
  color: #0a0a0a;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
  transition:
    background 0.3s,
    transform 0.2s;
}

.game-download-card button:hover {
  background: #0094cc;
  transform: scale(1.05);
}

.empty-list-msg {
  color: white;
}
