.player-stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 30px;
  color: white;
  min-height: 100vh;
  font-family: Roboto;
  background-color: #141414f2;
}

.top-bar-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #2d3748;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.top-bar {
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 70%;
  gap: 1rem;
}

.input-field {
  padding: 0.75rem;
  background-color: #c0c5cf;
  border-radius: 0.5rem;
  outline: none;
  width: 75%;
  color: black;
}

.search-btn {
  width: 25%;
  background-color: #c0c5cf;
  padding: 0.65rem;
  border-radius: 0.5rem;
  margin: 0.75rem;
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.search-btn:hover {
  background-color: #1b55b8;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: #c0c5cf;
  border-radius: 0.5rem;
  width: 30%;
  height: 75px;
}

.avatar-img {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 2px solid #f56565;
  height: 73px;
}

.custom-loading {
  margin-top: 1rem;
  color: #f56565;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.custom-error {
  margin-top: 1rem;
  color: #f56565;
  display: flex;
  align-items: center;
  opacity: 1;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-error-icon {
  margin-right: 0.5rem;
}

.top-bar-card-2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f293780;
  border-radius: 0.5rem;
  padding: 1.5rem;
  height: 100%;
  border: 2px solid #22d3ee;
  box-shadow: 0 0 20px #00ffff80;
  backdrop-filter: blur(10px);
  width: 40%;
}

.info {
  display: flex;
  flex-direction: column;
}

.nickname {
  color: #22d3ee;
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-shadow:
    0 0 10px rgba(0, 255, 255, 0.7),
    0 0 20px rgba(0, 255, 255, 0.7);
}

.player-id {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  font-weight: 600;
  color: #f5f6f9;
}

.player-id span {
  color: #86e1e1;
  font-weight: 700;
}

.divider {
  border-color: #22d3ee;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.stats-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.stat-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.stat-label {
  color: #8eb2e8;
  font-size: 20px;
}

.stat-value {
  font-size: 1.125rem;
  font-weight: 600;
  color: #86e1e1;
}

.rank-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.rank-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.rank-label {
  color: #8eb2e8;
  font-size: 20px;
}

.rank-value {
  font-size: 1.125rem;
  font-weight: 600;
  color: #86e1e1;
}

.character-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-image {
  max-width: 300px;
  transition: all 0.5s;
}

.character-image:hover {
  transform: scale(1.05);
}

.character-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.character-slot {
  background-color: rgba(31, 41, 55, 0.5);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 2px solid #06b6d4;
  box-shadow: 0 0 20px rgba(6, 182, 212, 1);
  transition: all 500ms;
  backdrop-filter: blur(8px);
  overflow: hidden;
  width: 136px;
  height: 479px;
}

.character-slot:hover {
  box-shadow: 0 0 30px rgba(6, 182, 212, 1);
}

.neon-glow {
  text-shadow:
    0 0 10px #06b6d4,
    0 0 20px #06b6d4,
    0 0 30px #06b6d4;
}

.character-slot-name {
  color: #06b6d4;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.character-slot-divider {
  border-top: 2px solid #06b6d4;
  width: 80%;
  margin: 0.75rem 0;
}

.character-slot-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.character-slot-image {
  width: 220px;
  height: 280px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.character-slot-image:hover {
  transform: scale(1.1);
}

.character-slot-info {
  color: #e0e0e0;
  font-size: 14px;
  margin-top: 0.75rem;
}

.span-char-id {
  color: #06b6d4;
  font-weight: 600;
}

.guild-leader-container {
  background-color: #1a202c;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #06b6d4;
  box-shadow: 0 0 15px #06b6d4;
  width: 100%;
}

.guild-leader-mini-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 435px;
  color: #e5e5e5;
}

.guild-leader-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #06b6d4;
  text-align: center;
  letter-spacing: 0.05em;
}

.guild-leader-info {
  background-color: #2d2d2d;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.guild-leader-info:hover {
  box-shadow: 0px 4px 6px rgba(0, 255, 255, 0.6);
}

.guild-leader-label {
  color: #67e8f9;
  font-weight: 600;
}

.guild-leader-value {
  font-weight: 700;
}

.avatar-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  background-color: #2d3748;
  border-radius: 1rem;
  border: 1px solid #00b5d6;
  box-shadow: 0 0 15px #00b5d6;
}

.avatar-wrapper-2 {
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.avatar-image-2 {
  margin-top: 0.5rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 4px solid #00b5d6;
}

.player-info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 35%;
}

.guild-info {
  background-color: #1a202c;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 1rem; /* p-4 */
  border: 1px solid #9b4d96;
  box-shadow: 0 0 15px #9b4d96;
}

.guild-info .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.guild-info .icon {
  width: 5rem;
  height: 5rem;
  color: #9b4d96;
}

.guild-info .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.guild-info .details h1 {
  font-size: 20px;
  color: #edb72e;
  margin: 8px;
}

.guild-info .details span {
  font-size: 18px;
  color: #e2e8f0;
}

.pet-info {
  background-color: #1a202c;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  border: 1px solid #48bb78;
  box-shadow: 0 0 15px #48bb78;
}

.pet-info .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-info .icon {
  width: 5rem;
  height: 5rem;
  color: #48bb78;
}

.pet-info .details {
  color: #e2e8f0;
  font-size: 1.125rem;
}

.pet-info .details p {
  margin: 8px;
}

.pet-info .details strong {
  color: #48bb78;
}

.social-info-container {
  background-color: #1a202c;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #3b82f6;
  box-shadow: 0 0 15px #3b82f6;
  width: 35%;
}

.social-info-grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 0.75rem;
  height: 100%;
  color: #e2e8f0;
}

.social-info-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3b82f6;
  text-align: center;
  letter-spacing: 0.05em;
}

.social-info-row {
  background-color: #2d3748;
  padding: 0.75rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.social-info-row:hover {
  box-shadow: 0 0 15px #3b82f6;
}

.social-info-icon {
  color: #93c5fd;
  width: 1.25rem;
  height: 1.25rem;
}

.social-info-text {
  color: #93c5fd;
  font-weight: 600;
}

.social-info-value {
  font-weight: bold;
}
